.DS_Store

# Ignore generated Xcode projects and workspaces
*.xcuserstate
*.xcuserdatad

# Ignore Tuist build artifacts and cached files
/.build/
/Derived/
/.claude
.build
/build
/tmp
docs/superpowers/
/scripts/minna.tar.xz
/scripts/minna.dmg
/Minna.xcodeproj/xcuserdata/taylorlineman.xcuserdatad/xcschemes/xcschememanagement.plist
