<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BAEssentialMaxInstallSize</key>
	<integer>2214311818</integer>
	<key>BAHasManagedAssetPacks</key>
	<false/>
	<key>BAInitialDownloadRestrictions</key>
	<dict>
		<key>BADownloadAllowance</key>
		<integer>70000000</integer>
		<key>BADownloadDomainAllowList</key>
		<array>
			<string>cdn.tryminna.com</string>
		</array>
		<key>BAEssentialDownloadAllowance</key>
		<integer>70000000</integer>
	</dict>
	<key>BAManifestURL</key>
	<string>https://cdn.tryminna.com/manifest.json</string>
	<key>BAMaxInstallSize</key>
	<integer>2214311818</integer>
	<key>BAUsesAppleHosting</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.tryminna.minna</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>minna</string>
			</array>
		</dict>
	</array>
	<key>TELEMETRY_DECK_ID</key>
	<string>$(TELEMETRY_DECK_ID)</string>
	<key>SENTRY_DSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://impel-intelligence.github.io/minna-sparkle-updater/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ySLQ5G0aOgmtZN2I2NnrPTwJZ36xgXcI3ZpY8W2wuBo=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Iris Search Index</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.irissearch.index</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>irisdb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>com.irissearch.index</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.markdown</string>
			<key>UTTypeReferenceURL</key>
			<string>https://daringfireball.net/projects/markdown/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/markdown</string>
					<string>text/x-markdown</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OPML document</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>org.opml.opml</string>
			<key>UTTypeReferenceURL</key>
			<string>https://opml.org/spec2.opml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>opml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/xml</string>
					<string>text/x-opml</string>
					<string>application/xml</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
